html{
  font-size: 8px;
  font-family: "Noto Sans JP";
  background-color: #A7B86F;
  font-weight: lighter;
}

body{
  width: 600px;
  margin: 0 auto;
  background-color: #FEFAFA;
  padding: 0 20px 20px 20px;
  border: 5px solid #483A0D;
}

h1{
  font-size: 40px;
  text-align: center;
  color: #483A0D;
}

p,li{
  font-size: 10px;
  line-height: 2;
  letter-spacing: 1px;
  color: #483A0D;
}

img{
  display: block;
  margin: 0 auto;
  width: 40%;
}
